@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource-variable/geist";
/* @import "@fontsource/poppins"; */

body {
  @apply font-sans;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.stroke-black {
  color: transparent;
  -webkit-text-stroke: 0.5px black;
}

.stroke-blue {
  color: transparent;
  -webkit-text-stroke: 0.5px #4e73df;
}